* {
  font-family: Raleway, Roboto Slab;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  margin: 0 auto;
}

.search{
  margin-top: 30px;
  text-align: center;
}

.header{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 0px;
  background-color: rgb(255 77 77);
}

.logo{
  width: 61px;
  height: 56px;
  justify-content: flex-start;
  cursor: pointer;
}

.logo-box{
  font-size: 1.5rem;
  color: white;
  display: flex;
  align-items: center;
}

.searchbar {
  flex: 1 1 auto;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
}

.searchbar input {
  width: 52%;
  font-size: 1.5rem;
  height: 2rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 0.5rem;
}

.searchbar select {
  font-size: 1em;
  padding: 5px;
  border-radius: 6px;
  margin-right: 10px;
  background: rgb(236, 181, 181);
  border: 1px solid #ccc;
}

.searchbar button {
  width: 6%;
  font-size: 17px;
  padding: 0 0.25rem;
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.cart{
  font-size: 30px;
  margin-right: 20px ;
  margin-top: -7px;
  cursor: pointer;
}

.main-top{
  padding: 100px;
  opacity: 0.89;
  background-image: url('https://images.unsplash.com/photo-1441986300917-64674bd600d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80');
  background-position: center;
  background-attachment: fixed;
}

.cards {
  list-style: none;
  margin: 0 auto;
  max-width: 1200px;
}

.card {
  margin: 1rem;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.card:hover{
  transform: scale(1.03);
}

.card img {
  padding: 15px;
  width: 90%;
  height: 250px;
  left: 50%;
  border-radius: 15px;
  /* object-fit: contain;
  box-shadow: inset -5px -5px 5px rgb(255 77 77);
  padding: 19px; */
  object-fit: contain;
  box-shadow: inset -3px -3px 0px rgb(255 77 77);
  padding: 19px;
}

.card img:hover{
  box-shadow: inset -3px -3px 15px rgb(230 213 213)
}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }

  .card {
    width: calc(22% - 2rem);;
  }
}

.card h3{
  font-size: 22px;
}

.card h4{
  margin-top: 10px;
  font-size: 22px;
  color: red;
}
