* {
  font-family: Raleway, Roboto Slab;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  margin: 0 auto;
}

.search{
  margin-top: 30px;
  text-align: center;
}

.header{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 0px;
  background-color: rgb(252 99 43 / 1);
}

.logo{
  border-radius: 25px;
  width: 58px;
  margin-left: 10px;
  margin-right: 12px;
  
}

.logo-box{
  font-size: 1.5rem;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.searchbar {
  flex: 1 1 auto;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
}

.searchbar input {
  width: 52%;
  font-size: 1.5rem;
  height: 2rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 0.5rem;
}



.searchbar button {
  width: 6%;
  font-size: 17px;
  padding: 0 0.25rem;
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.cart{
  font-size: 30px;
  margin-right: 20px ;
  margin-top: -7px;
  cursor: pointer;
}

.main-top{
  padding: 100px;
  opacity: 0.89;
  background-image: url('https://images.unsplash.com/photo-1441986300917-64674bd600d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80');
  background-position: center;
  background-attachment: fixed;
}

.cards {
  list-style: none;
  margin: 0 auto;
  max-width: 1200px;
}

.card {
  margin: 1rem;
    display: flex;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover{
  transform: scale(1.03);
}

.card img {
  padding: 15px;
  width: 90%;
  height: 250px;
  left: 50%;
  border-radius: 15px;
  object-fit: contain;
  box-shadow: inset -3px -3px 0px rgb(255 110 24);
  padding: 19px;
}

.card img:hover{
  box-shadow: inset -3px -3px 15px rgb(230 213 213)
}

.card button {
  margin-top: 0.5rem;
  background-color: #fa7c32;
  border: 2px;
  border-radius: 10px;
  padding: 6px;
}


@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .card {
    width: calc(22% - 2rem);;
  }
}

.card h3{
  font-size: 22px;
}

.card h4{
  margin-top: 10px;
  font-size: 22px;
  color: red;
}

.category-bar{
  background-color: rgb(252 99 43 / 1);
  list-style: none;
  display: flex;
  padding: 12px;
  justify-content: space-evenly;
}


.category-bar button {
  width: 8%;
  margin: 1px;
  font-size: 15px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.category-bar select {
  font-size: 1em;
  padding: 5px;
  border-radius: 6px;
  margin-right: 10px;
  background: rgb(255, 255, 255);
  border: 1px solid #ccc;
}

/* Carousel 1  */


.card-carousel {
  margin: 1rem;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.card-carousel:hover{
  transform: scale(1.03);
}

.card-carousel img {
  padding: 15px;
  width: 90%;
  height: 250px;
  left: 50%;
  border-radius: 15px;
  object-fit: contain;
  box-shadow: inset 7px 7px 1px rgb(255 149 87);
  padding: 19px;
}

.card-carousel img:hover{
  box-shadow: inset -3px -3px 15px rgb(230 213 213)
}

.card-carousel button {
  margin-top: 0.5rem;
  background-color: #fa7c32;
  border: 2px;
  border-radius: 10px;
  padding: 6px;
}

.card-carousel h4{
  margin-top: 10px;
  font-size: 22px;
  color: red;
}

.centered{
  color: #ff4d4d;
  margin-top: 50px;
  text-align: center;
  font-size: 2em;
  margin-bottom: 38px;
}

/* .Drawer{
    left: 80%;
    width: 34%;
    border: 3px solid black;
    height: 65%;
    background-color: gray;
    right: 0;
} */

.link-class{
  text-decoration: none;
  color: black;
  margin-bottom: 30px;
}

.select-card{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  background-color: #f8f7f5;
}

.select-card img{
  width: 39%;
  object-fit: contain;
  box-shadow: inset 2px -20px 0px 20px rgb(252 99 43);
  padding: 28px;
}

.select-content{
  font-size: 3em;
  margin-left: 100px;
}

.price{
  color: red;
}

.addbtn{
  font-weight: 800;
  color: white;
  width: 107px;
  cursor: pointer;
  padding: 90px;
  font-size: 16px;
  background-color: #000000;
  border: 2px;
  border-radius: 10px;
  padding: 6px;
}

.wrap{
  margin-bottom: -55px;
  background-color: #d1ace0;
  transform: skew( 
0deg, 
334deg);
  width: 187px;
  display: flex;
  justify-content: space-around;
}

.wrap2{
  margin-bottom: -55px;
  background-color: #ff3029;
  transform: skew( 
0deg, 
334deg);
  width: 187px;
  display: flex;
  justify-content: space-around;
}

.cartCard{
  background-color: #ffd4d2;
  text-align: center;
  margin: 30px;
  max-width: 300px;
  padding: 20px;
}

.cartButton{
  align-content: left;
  margin-top: 0.5rem;
  background-color: #33302e;
  border: 2px;
  border-radius: 10px;
  padding: 6px;
  color: white;
  cursor: pointer;
}